[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
httpx = {version = ">=0.7", extras = ["http2"]}
privex-helpers = ">=3.0"
async-property = ">=0.2.1"

[dev-packages]
jupyter = "*"
pytest = "*"
pytest-asyncio = "*"
twine = "*"
setuptools = "*"

[requires]
python_version = "3.9"
